<header class="header-6">
     <button (click)="best()" class="btn btn-outline" style="color: #0077b8"> Movie Admirers </button>


    <input type="text"  style= "color:#5659b8" class="btn btn-outline" [(ngModel)]="movieTitle" name="first" placeholder="Find movies...">

  <button class="btn btn-outline"  [(ngModel)]="movieTitle" (click)="fetch1()">Search</button>

<!--
      <div class="branding">

      <span *ngIf="_userService.userInfo">Hello {{_userService.userInfo.firstName}}</span>
    <!-- </a> -->
  <!-- </div>  -->



<div class="gurke" *ngIf="this._userService.loggedIn">{{_userService.userInfo.firstName}}</div>

  <clr-dropdown class="btn btn-link">
    <button clrDropdownTrigger class="btn btn-outline">
      <clr-icon shape="user"></clr-icon>
    </button>
    <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
      <div class="dropdown-item" (click)="best()">Login</div>
      <div class="dropdown-item" (click)="best1()">Register</div>
      <div class="dropdown-item" (click)="_userService.logOut()">Logout</div>
      <div class="dropdown-item" (click)="_movieService.getFavorites()">Favourites</div>
    </clr-dropdown-menu>
  </clr-dropdown>
  <!--
    <button class="btn btn-outline" (click)="best()">LogIn </button>

    <button class="btn btn-outline" (click)="best1()">Register </button>

    <button class="btn btn-outline" (click)="logOut()">LogOut </button> -->

  <!-- <button class="btn btn-outline" (click)="_movieService.getFavorites()">Get Favorites</button> -->

</header>
