<header class="header-6">
    <div class="branding">
        <a href="..." class="nav-link">
            <a routerLink="logIn"> <span class="title"> BPA: Brad Pitt Admirers </span></a>
        </a>
    </div>
    <form class="search">
        <input type="text" [(ngModel)]="movieTitle" name="first" placeholder="Hollywood starts">
        <button (click)="fetch1()">Click </button>
    </form>

    <div class="header-actions">

        <a href="javascript://" class="nav-link nav-icon-text">

            <clr-icon shape="user"></clr-icon>
            <div>{{_userService.userInfo.firstName}}</div>
        </a>
    </div>

    <button class="button" (click)="best()">LogIn </button>

    <button class="button" (click)="best1()">Register </button>

    <button class="button" (click)="_movieService.getFavorites()">Get Favorites</button>

</header>
