.leftSide{
background-image: linear-gradient(rgb(130, 130, 214), lightblue);
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.title {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-color: white;
  font-style: 400 13.3333px Arial;
  color: #0077b8;
}

.clr-row  {
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
 background-color: #0077b8;
 padding: 5px;
 width: auto;
 box-shadow: cadetblue;
 font-style: 400 13.3333px Arial;
}

.card-block{
  color: white;
  background-color: rgb(60, 60, 124);
  padding: 5px;
  font-style: 400 13.3333px Arial;

}

.span {
  justify-content: space-between;
  flex-direction: row;
}

.button {
  align-self: flex-end;
  justify-self: flex-end;
  margin-left: auto;
  border-left: 10px;
}

.login-wrapper {
  flex-wrap: wrap;
}
