.reso {
display: flex;
flex-wrap: wrap;
align-content: space-between;
background-color: #5659b8;
color: white;
padding: 20px;
}

.leftSide{
 display: flex;
 flex-direction: column;
 background-color: #5659b8;
 color: white;
 width: auto;
}

.rightSide {
display: flex;
margin-left: auto;


}
