<div class="login-wrapper">
    <form class="login">
        <section class="title">
            <h3 class="welcome">Log in to </h3>
            Movie Admirers!
            <h5 class="hint"><i>The movie data base for everyone who didn't receive an Academy Award and still loves movies... </i></h5>
        </section>
        <div class="error" *ngIf="error.message">
          <div class="alert alert-warning">
              <div class="alert-items">
                  <div class="alert-item static">
                      <div class="alert-icon-wrapper">
                              <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
                      </div>
                      <span class="alert-text">{{error.message}}</span>
                  </div>
              </div>
          </div>
      </div>
        <div class="login-group">

            <clr-input-container>
                    <label class="clr-sr-only">Email</label>
                    <input type="email" name="email" [(ngModel)]="form.email" clrInput placeholder="Email"/>
            </clr-input-container>

            <clr-password-container>
                <label class="clr-sr-only">Password</label>
                <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="form.password" />
            </clr-password-container>

            <button (click)="dologIn()" type="submit" class="btn btn-outline">Submit</button>
        </div>
        <div>
          <p><i>Not a member yet?</i> <button class="btn btn-sm btn-link" (click)="best1()"> Make an Account! </button> </p>
         </div>
    </form>

</div>
