<div class="login-wrapper">
    <form class="login">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            Brad Pitt Admirers!
            <h5 class="hint">The movie data base exclusivly about Brad Pitt</h5>
        </section>

        <div class="login-group">

            <clr-input-container>
                    <label class="clr-sr-only">Email</label>
                    <input type="email" name="email" [(ngModel)]="form.email" clrInput placeholder="Email"/>
            </clr-input-container>

            <clr-password-container>
                <label class="clr-sr-only">Password</label>
                <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="form.password" />
            </clr-password-container>

            <button (click)="dologIn()" type="submit" class="btn btn-outline">Submit</button>
        </div>
    </form>
</div>
