<div class="leftSide">
  <div class="title">
    <h2 class="title"> Your favorite movies...</h2>
  </div>
  <!-- <div class="clr-row">
    <div class="clr-col-lg-4 clr-col-md-5 clr-col-12"> -->
      <div *ngIf="this._userService.loggedIn" class="try">
      <div *ngFor="let movie of _movieService?.favorites">
        <div class="card" color="white">
          <div class="card-header" color="white">
            <div class="card-block" style="color:  #5659b8">
              <!-- <div *ngFor="let movie of _movieService?.favorites">             -->
              <!-- <span>{{movie.title}} <br> -->
                <span>
                <img class="img" src="https://image.tmdb.org/t/p/w154/{{movie.poster_path}}"> <br> </span>
              <button class="btn btn-outline" (click)="_movieService.deleteFavorites(movie.title)">🎬delete</button>
              <br> <br>
            </div>
          </div>
        </div>

        <!-- </div>
      </div> -->
