
<div class = "leftSide">
<div class ="title"> 
<h1> <em>Here are the movies you want to watch </em></h1>
</div>
<div class="clr-row">
    <div class="clr-col-lg-4 clr-col-md-5 clr-col-12">
        <div class="card">
            <div class="card-header">
                     <ul *ngFor="let movie of _movieService?.favorites">            
                            <li>{{movie.title}}
                    <!-- <img src="https://image.tmdb.org/t/p/w154/{{movie.poster_path}}"> </li> One slash doesn't work, two don't work either-->
                    <img src="https://image.tmdb.org/t/p/w154//{{movie.poster_path}}"> </li>
                </ul>
                
            </div>
            

            <!-- <div class="card-block">
                        <div class="card-text">
                 <p> <strong>Person I want to watch it with </strong></p>

                    <input type="text" [(ngModel)]="friend1" clrInput placeholder="Friends's name"/>

                        <input type="text" [(ngModel)]="friend2" clrInput placeholder="Friends's name"/> 

                        <p> <strong> Why I want to watch it? </strong></p>
                            <form class="clr-form">
                                <div class="clr-control-container">
                                  <textarea placeholder="Actor, Genre, Trailer,..." class="clr-textarea" [(ngModel)]="reason"></textarea>
                                </div> 
                                <div class="card-img">
                                        <img src="https://nyppagesix.files.wordpress.com/2019/12/brad-pitt-1.jpg?quality=90&strip=all&w=618&h=410&crop=1">
                                    </div>
                              </form>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="clr-row">
            <div class="clr-col-lg-4 clr-col-md-5 clr-col-12">
                <div class="card">
                    <div class="card-header">
                            <h1> <input type ="text" [(ngModel)]="title2" clrInput placeholder="movie title"/></h1>
                    </div>
                    <div class="card-block">
                                <div class="card-text">
                         <p> <strong>Person I want to watch it with </strong></p>
                            <input type="text" [(ngModel)]="friend3" clrInput placeholder="Friends's name"/>
                                <input type="text" [(ngModel)]="friend4" clrInput placeholder="Friends's name"/>
                                <p> <strong> Why I want to watch it? </strong></p>
                                    <form class="clr-form">
                                        <div class="clr-control-container">
                                          <textarea placeholder="Actor, Genre, Trailer,..." class="clr-textarea" [(ngModel)]="reason2"> </textarea>
                                        </div>
                                        <div class="card-img">
                                                <img src="https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2019/09/931/524/brad-pitt-ad-astra-tokyo-getty.jpg?ve=1&tl=1">
                                            </div>
                                      </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        
            <div class="clr-row">
                    <div class="clr-col-lg-4 clr-col-md-5 clr-col-12">
                        <div class="card">
                            <div class="card-header">
                                    <h1> <input type= "text" [(ngModel)]="title3" clrInput placeholder="movie title"/> </h1>
                            </div>
                            <div class="card-block">
                                        <div class="card-text">
                                 <p> <strong>Person I want to watch it with </strong></p>
                                    <input type="text" [(ngModel)]="friend5" clrInput placeholder="Friends's name"/>
                                        <input type="text" [(ngModel)]="friend6" clrInput placeholder="Friends's name"/>
                
                                        <p> <strong> Why I want to watch it? </strong></p>
                                            <form class="clr-form">
                                                <div class="clr-control-container">
                                                  <textarea placeholder="Actor, Genre, Trailer,..." class="clr-textarea" [(ngModel)]="reason3"></textarea>
                                                </div>
                                                <div class="card-img">
                                                        <img src="https://content.api.news/v3/images/bin/0dccd1426826e2b04935ba0b2be3f6ab">
                                                    </div>
                                              </form>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                
