

.title {
    display: flex;
    flex-wrap: wrap;
    background-color:#A7F4E9
}

.clr-row {
   background-color: #FFFCE8
}

.card-header {
    background-color: #DEFFF9;
}

.card-block {
    background-color:#DEFFF9;
}

.card-text {
    background-color: #00D4B8
}

